/* Etch-A-Sketch Stylesheet */

h1 {
   text-align: center;
}

.controls {
   display: flex;
   justify-content: center;
}

.frame {
   width: 800px;
   height: 900px;
   border: 1px red solid;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   background-color: red;
   border-radius: 40px;
}

.gridContainer {
   width: 640px;
   height: 640px;
   border: solid black 1px;
   background-color: lightslategray;
   margin-top: 80px;
   z-index: 2;
}

.gridOverlay {
   position: absolute;
   width: 640px;
   height: 640px;
   background-color: lightslategray;
   z-index: 1;
   margin-top: 80px;
   opacity: 1;
}

.knobs {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 700px;
   height: 164px;
   margin-bottom: 50px;
}
.knob1, .knob2 {
   border: 1px solid black;
   height: 80px;
   width: 80px;
   border-radius: 40px;
   background-color: whitesmoke;
}

.logo {
   height: 60%;
   width: auto;
}

.controls {
   padding-bottom: 10px;
}

.outerBox {
   display: flex;
   justify-content: center;
}

.frameLeftSpacer {
   margin-left: 0px;  
}